aiogram >= 3.*
aiohttp
async-timeout
attrs
Babel
beautifulsoup4
bs4
certifi
chardet
idna
lxml
multidict
pytz
requests~=2.31.0
soupsieve
typing-extensions
urllib3
yarl
pydantic
pandas~=2.0.3
python-dotenv~=1.0.0
httpx~=0.24.1